<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head'); %>
  <body>
    <%- include('partials/navbar') %>
    <main class="main">
      <div>
        <img src="/gumball-family.png" alt="gumball-family-image" />
      </div>
      <p>
        <a class="main-text" href="/characters">
          See Gumball Cartoon Characters !
        </a>
      </p>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
